* {
--card-bg: #dcb6fd;
--content-bg: #AB81cd;
--link: #EACB5F;
--page-bg: #5A4FA8;
--main-bg: #272a63;
--text-color: #F5F5FA;
--link-visited: #C26CCF;
line-height: 1.3;
}
body {
    background-color: var(--page-bg);
    color:var(--text-color);
    margin:0;
}
h1, h2, h3 {
    font-family:"Sora", "Fira Code", 'Courier New', monospace;
    font-weight: 650;
}
h4, #modalTitle {
    font-family: "Figtree", sans-serif;
    font-weight: 650;
}
p, li, a, button, h5, h6 {
   font-family: "Figtree", sans-serif;
}
.card > h4 {
    width: 80%;
}
#socials > li > a {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: ease-in 200ms;
}
#socials > li > a:hover {
    color:var(--link);
}
a {
    color: var(--link);
}
a:visited {
    color:var(--link-visited);
}
button {
    border: none;
    margin: 5px 0;
    background-color: var(--link);
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    transition: 100ms ease-in;
}
button > a:visited {
    text-decoration: none;
    color: var(--main-bg);
}
button:hover > a {
    color:var(--link);
}
header, footer {
    background-color: var(--main-bg);
    margin: 0;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
header {
   justify-content: space-around; 
}
footer {
    justify-content: space-around;
}
#headerNavbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#headerButtons {
    display: flex;
    gap: 15px;
}
#headerNavbar > nav {
    display: flex;
    gap: 20px;
}
#headerNavbar > nav > a{
    color: var(--link);
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
}
#headerNavbar > nav > a:hover {
    color: var(--main-bg);
    font-style: normal;
    transform: scale(1.1);
    background-color: var(--link);
}
#headerButtons > button > a {
    color:var(--main-bg);
    text-decoration: none;
}
#headerButtons > button:hover {
    transform: scale(1.2);
    color:var(--main-bg);
    background-color: var(--card-bg);
    text-decoration: none;
}
#about-interests {
    font-weight: 600;
    color: var(--card-bg);
}
#container {
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    align-content: center;
    justify-content: center;
}
#sidebar, #content {
    /*center content*/
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 20px;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 20px;
}
#sidebar{
    width: 12%;
    text-align: center;
}
#sidebar > img {
    width: 150px;
    height: auto;
    border-radius: 300px;
    padding: 15px;
}
#content {
    width: 80vw;
    overflow-y: scroll;
}
div.content-item {
    padding: 20px;
}
#sidebar > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#socials {
    margin-top: 0px;
    display:flex;
    flex-direction: row;
    gap: 8px;
}
.cards-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#about-cards {
    justify-content: space-evenly;
}
#project-cards {
    gap: 20px;
}
.card {
    background-color: var(--card-bg);
    color: var(--main-bg);
    margin: 3px;
    padding:10px;
    width: 275px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#project-cards > .card{
    padding: 25px;
}
button:hover{
    transform: scale(1.2);
    background-color:var(--main-bg);
    color: var(--link);
    text-decoration: none;
}
#about-cards > .card {
    padding: 25px;
}
#research-cards > .card{
    padding: 25px;
    width: 250px;
    height: 200px;
}
#research-cards > .card > button > a{
    color:var(--main-bg);
    text-decoration: none;
}
#research-cards > .card > button:hover > a{
    color:var(--link);
    text-decoration: none;
}
.content-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 95%;
    margin:5px;
    padding:15px;
    border-radius: 20px;
}


/*FOR PROJECT/RESEARCH MODAL WINDOWS*/
.modal {
    padding: 0px 20px 20px 20px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius:10px;
    background-color: var(--text-color);
    z-index:10;
    max-width:70%;
    max-height:70%;
    overflow: scroll;
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);
}
.modal-header {
    background-color: var(--text-color);
    position: sticky;
    top:0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header > button {
    cursor: pointer;
    border:none;
    outline: none;
    background:none;
    font-size:1.25rem;
    font-weight:bold;
}
.modal-body {
    padding-left: 100px;
    padding-right: 100px;
    overflow: scroll;
}
#overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.75);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}
.projImg {
    display: flex;
    justify-content: center;
}
.projDemoSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.projSummary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalLink {
    text-decoration: none;
    color: var(--main-bg);
}
.projReflection {
    margin: 20px;
    padding: 5px;
    border: solid black 2px;
}
#summaryTitle {
    font-style: oblique;
    font-weight: bold;
}
.projButtons {
    display: flex;
    gap: 12px;
}
/*Project Page Styling*/
#projPage {
    display: flex;
    flex-direction: column;
}
#myRole {
    background-color: var(--link-visited);
}
#goalVerb {
    font-weight: 600;
    color: var(--link);
}
.projContent {
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.projContent#hero > .details {
    width: 50%;
}
.projContent > div {
    border: 1px solid greenyellow;
    padding: 10px;
    margin: 10px;
}
#prevPhotos {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(2, 1fr);
}
#overview {
    background-color: var(--main-bg);
    align-items: flex-start;
    gap: 40px;
}
#problem, #reflection {
    flex-direction: column;
    align-items: center;
}
#overview > div {
    width: 35%;
    margin: 0 20px;
    padding: 25px;
}
#solution {
    background-color: var(--main-bg);
}
#reflection > p, #problem > p{
    width: 60%;
    margin: 5px 0;
}
#problem > h4 {
    width: 60%;
    text-align: center;
}