* {
--main-bg: #7c8244ff;
--link: #403716ff;
--card-bg: #97b536ff;
--text-color: #0f0503ff;
--link-visited: #ba2018ff;
}
body {
}
header, footer {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#container {
    display: grid;
    grid-template-columns:[sidebar-start] 20% [sidebar-end content-start] 78.5%;
    column-gap: 10px;
}
#sidebar, #content {
    /*center content*/
    display:flex;
    flex-direction: column;
    border:1px solid blue;
    margin:10px;
    padding: 15px;
    align-items: center;
    
}
#sidebar{
    text-align: center;
}
#content {
    overflow-y: scroll;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#socials {
    margin-top: 0px;
    display:flex;
    flex-direction: row;
    gap: 8px;
}
.cards-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#about-cards {
    justify-content: space-between;
}
#project-cards {
    gap: 20px;
}
.card {
    border: 1px solid black;
    padding:10px;
    width: 250px;
    border-radius: 20px;
}
#about-cards > .card {
    text-align: center;
}
#project-cards > .card{
    padding: 20px;
    height: 175px;
}
.content-item {
    border: 1px dotted black;
    width: 90%;
    margin:5px;
    padding:15px;
    border-radius: 20px;
}


/*FOR PROJECT/RESEARCH MODAL WINDOWS*/
.modal {
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border:1px solid red;
    border-radius:10px;
    background-color: white;
    z-index:10;
    width:60%;
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);
}
.modal-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header > button {
    cursor: pointer;
    border:none;
    outline: none;
    background:none;
    font-size:1.25rem;
    font-weight:bold;
}
.modal-body {
    overflow: scroll;
}
#overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.75);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}