@import '../../vars.css';


.projects{
    margin:20px 150px;
    padding: 20px;  
}
.projectsTitle {
    color:var(--text-color);
    font-size:24px;
    margin-bottom: 25px;
}
.projectsContainer{
    margin: 20px 0px;
    display:flex;
    gap: 30px;
    justify-content: space-around;
    flex-direction:row;
}
.projectsCategory{
    background-color:var(--dark-color);
    border-radius: 25px;
    width: 250px;
    padding:25px;
    font-size:22px;
    color:var(--text-color);
    filter:drop-shadow(20px 8px 7px var(--accent-color));
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    text-decoration: none;
    text-align: center;
    transition:0.5s;
}
.projectDesc {
    margin-top:10px;
    color: white;
    font-size: 18px;
}
.projectsCategory:hover{
    background-color:var(--secondary-color);
    color:var(--background-color);
    transform:scale(1.1);
    filter:none;
}

.projectImg{
    height: 128px;
    margin-bottom:5px;
}