@import '../../vars.css';

.navbar {
    display: flex;
    padding: 20px 10px;
    align-items:center;
    justify-content: space-between;
    background-color: var(--dark-color);
    font-weight: 400;
}
.navHeader{
    display: flex;
    align-items:center;
    text-decoration: none;
    font-family:"Handjet", monospace;
    padding: 15px;
    color:var(--text-color);
    font-size: 40px;
    gap: 5px;
    transition:0.5s;
}
.navHeader > img {
    height: 64px;
    width:64px;
    margin-left:30px;
}
.menuItems {
    display:flex;
    padding: 20px;
    font-family:"Handjet", monospace;
    gap: 60px;
    font-size: 28px;
    list-style: none;
}
.menuIcon {
    display:none;
}
.navItem{
    color:white;
    text-decoration: none;
    transition:0.5s
}
.navItem:hover{
    transform:scale(1.2);
    color:yellow;
    filter:drop-shadow(7px 8px 5px black);
}
.navItem:visited{
    color:white;
}
.navHeader:hover {
    transform:scale(1.02);
    color:yellow;
    filter:drop-shadow(10px 8px 5px black);
}
@media(max-width:768px) {
    .navHeader {
        font-size: 26px;
        gap:8px;
        padding:0px;
    }
    .navHeader img {
        width:42px;
        height:auto;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navMenu{
        position:absolute;
        right:0;
        margin-right: 30px;
        flex-direction: column;
        align-items: flex-end;
        gap:15px;
    }
    .menuIcon{
        display: block;
        margin:5.5px 0px;
        cursor: pointer;
    }
    .menuItems {
        display:none;
        align-items: center;
        gap:13px;
        flex-direction: column;
        border-radius: 10px;
        background-color: var(--dark-color);
    }
}