@import '../../vars.css';

.navbar {
    display: flex;
    padding-left: 10px;
    padding-right:10px;
    align-items:center;
    justify-content: space-between;
    background-color: var(--dark-color);
    font-weight: 400;
}
.navHeader{
    display: flex;
    align-items:center;
    text-decoration: none;
    padding: 15px;
    color:var(--text-color);
    font-size: 30px;
    gap: 5px;
    transition:0.5s;
}
.navHeader > img {
    height: 64px;
    width:64px;
    margin-left:30px;
}
.navMenu {
    display:flex;
    padding: 40px;
    align-items:end;
    font-family:"Handjet", monospace;
    gap: 60px;
    font-size: 28px;
    list-style: none;
}
.navItem{
    color:white;
    text-decoration: none;
    transition:0.5s
}
.navItem:hover{
    transform:scale(1.2);
    color:yellow;
    filter:drop-shadow(7px 8px 5px black);
}
.navItem:visited{
    color:white;
}
.navHeader:hover {
    transform:scale(1.02);
    color:yellow;
    filter:drop-shadow(10px 8px 5px black);
}