/*Project Page Styling*/
#projPage {
    display: flex;
    flex-direction: column;
}
#myRole {
    color: var(--link);
    font-style: oblique;
}
#goalVerb {
    font-weight: 600;
    color: var(--link);
}
.projContent {
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.projContent#hero > .details {
    width: 50%;
}
.projContent > div {
    padding: 10px;
    margin: 10px;
}
#prevPhotos {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(2, 1fr);
}
#overview {
    background-color: var(--main-bg);
    align-items: flex-start;
    gap: 40px;
}
#problem, #reflection {
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
#refPara, #problemPara {
 width: 55%;
}
#problemBlurb {
    width: 20%;
}
#problem > * {
    padding: 20px;
}
#overview > div {
    width: 35%;
    margin: 0 20px;
    padding: 25px;
}
#solution {
    background-color: var(--main-bg);
    display: grid;
    grid-template-areas: 
        ". title title title ."
        ". content1 . content2 ."
        ". content3 . content4 .";
    grid-template-rows: repeat(1fr, 3);
    grid-template-columns: 0.15fr 1fr auto 1fr 0.15fr;
    align-items: start;
    row-gap: 3px;
}
#solution > h3 {
    grid-area: title;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
}
.solSection#background {
    grid-area: content1;
}
.solSection#methods {
    grid-area: content2;
}
.methodsSummary {
    font-weight: 400;
}
.processDoc {
    margin: 15px 0;
}
.solSection#artifact {
    grid-area: content3;
    place-items: center;
} 
.solSection#findings {
    grid-area: content4;
}
.solSection > h4{
    /* text-align: center; */
    color: var(--link);
}