* {
--card-bg: #dcb6fd;
--content-bg: #AB81cd;
--link: #EACB5F;
--page-bg: #5A4FA8;
--main-bg: #272a63;
--text-color: #F5F5FA;
--accent:#ffca38;
--link-visited: #C26CCF;
line-height: 1.4;
font-size: 16px;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
    line-height: 0.7;
}
h3 {
  font-size: 1.625rem; 
  line-height: 1.3;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
body {
    background-color: var(--page-bg);
    color:var(--text-color);
    margin:0;
    width:100%;
}
h1, h2, h3 {
    font-family:"Sora", "Fira Code", 'Courier New', monospace;
    font-weight: 650;
}
h4, #modalTitle, summary {
    font-family: "Figtree", sans-serif;
    font-weight: 650;
}
p, li, a, button, h5, h6 {
   font-family: "Figtree", sans-serif;
   font-weight:525;
}
#modalTeamName {
    font-weight: 700;
}
.card > h4 {
    width: 100%;
}
a {
    color: var(--link);
}
a:visited {
    color:var(--link-visited);
}
button {
    border: none;
    margin: 5px 0;
    background-color: var(--link);
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    transition: 100ms ease-in;
}
button:hover {
    cursor: pointer;
}
button > a:visited {
    text-decoration: none;
    color: var(--main-bg);
}
button:hover > a {
    color:var(--link);
}
header, footer {
    background-color: var(--main-bg);
    margin: 0;
    padding: 0 40px;
    display: flex;
    min-width: 320px;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
}
header {
    justify-content: space-between;
    align-items:center;
}
footer {
    justify-content: space-evenly;
}
footer > a, footer > a:visited {
    color:var(--link);
}
footer > a:hover {
    color:var(--card-bg);
}
#actionButtons {
    display: flex;
    margin-top: 25px;
    gap: 15px;
}
#actionButtons > button {
    height: fit-content;
    padding:5px;
}
#actionButtons > button > a {
    color:var(--main-bg);
    text-decoration: none;
    padding:3px;
}
#actionButtons> button:hover {
    transform: scale(1.2);
    color:var(--main-bg);
    background-color: var(--text-color);
    text-decoration: none;
}
#about-interests, strong {
    font-weight: 600;
    color: var(--accent);
}
#gridContainer,#projPage {
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    place-content: center;
}
#sidebar, #content, #studyNavbar, .caseStudy {
    /*center content*/
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 20px;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 20px;
}
#sidebar{
    width: 12%;
    top:3rem;
    margin: 10px 0;
    position: sticky;
    height: fit-content;
    text-align: center;
    justify-content: space-between;
}
#studyNavbar{
    width: 12%;
    top:3rem;
    gap: 20px;
    margin: 10px 0;
    padding: 30px;
    position: sticky;
    height: fit-content;
    justify-content: space-between;
}
#studyNavbar > nav > h3 {
    text-align: center;
}
#sidebarContent {
    padding:10px;
}
 #sidebarNavbar > nav {
    margin-top:0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
}
#sidebarContent > #actionButtons {
    flex-direction: column;
    align-items: center;
}
#profile {
    margin-bottom: 25px;
}
hr {
    border-top: 3px dotted var(--text-color);
    border-bottom: none;
    width: 100%;
}
#content{
    padding: 10px, 20px;
    width: 80%;
    overflow-y: scroll;
    align-items: flex-start;
}
.caseStudy {
    width:80%;
    padding:10px 25px;
}
div.contentItem {
    padding: 20px;
}
#sidebar > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#socials {
    display:flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(1.5);
    gap: 15px;
}
#socials > a, nav > a {
    color: var(--text-color);
    font-style: italic;
    text-decoration: none;
    font-weight: 700; 
    transition: 300ms ease-in-out;
}
nav > a:visited {
    color:var(--text-color);
}
#socials > a:hover, nav > a:hover {
    color: var(--link);
    transform: scale(1.55);
}
.cardsContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
#about-cards {
    justify-content: space-around;
}
#project-cards {
    gap: 20px;
}
.card {
    background-color: var(--card-bg);
    color: var(--main-bg);
    margin: 5px;
    padding:25px;
    width: 275px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button:hover{
    transform: scale(1.2);
    background-color:var(--main-bg);
    color: var(--link);
    text-decoration: none;
}
#research-cards > .card > button > a{
    color:var(--main-bg);
    text-decoration: none;
}
#research-cards > .card > button:hover > a{
    color:var(--link);
    text-decoration: none;
}
.projContent {
    padding: 20px;
    gap: 15px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
}
.projContent#hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.projContent#hero > div.details {
    width: 40%;
}
.projContent#overview {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.projContent#overview > div {
    width: 40%;
}
.projContent#problem, .projContent#reflection {
    width:100%;
    align-items: center;
    justify-content: space-between;
}
.projContent#problem > #problemBlurb, .projContent#reflection > h3 {
    width: 35%;
}

#problemParagraph, #reflectionParagraph {
    width: 55%;
}
.projContent#process {
    flex-direction: column;
    gap:2px;
}
#processGrid {
    display:grid;
    grid-template-columns: 0.75fr 0.75fr;
}
/*FOR PROJECT/RESEARCH MODAL WINDOWS*/
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    padding: 0px 20px 20px 20px;
    transition: 200ms ease-in-out;
    border-radius:10px;
    background-color: var(--text-color);
    max-width: 50%;
    max-height:70%;
    overflow: scroll;
    border:none;
}
#modalHeader {
    position: sticky;
    background-color: var(--text-color);
    color:var(--main-bg);
    top:0;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#modalHeader > button {
    cursor: pointer;
    border:none;
    outline: none;
    background:none;
    font-size:1.75rem;
    font-weight:bold;
}
#modalBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 2rem;
    gap: 18%;
    overflow: scroll;
    color:var(--main-bg);
}
.overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.75);
    pointer-events: none;
}
.projImg {
    display: flex;
    justify-content: center;
}
.projDemoSection {
    display: flex;
    flex-direction: row;
    width: 45%;
}
.projRolesSection {
    margin: 0 10px;
}
.projSummary {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modalLink {
    text-decoration: none;
    color: var(--main-bg);
}
.projReflection {
    margin: 20px;
    padding: 5px;
    border: solid black 2px;
}
#summaryTitle {
    font-style: oblique;
    font-weight: bold;
}
.projButtons {
    display: flex;
    gap: 12px;
}