* {
--card-bg: #dcb6fd;
--content-bg: #AB81cd;
--link: #EACB5F;
--page-bg: #5A4FA8;
--main-bg: #272a63;
--text-color: #F5F5FA;
--accent:#ffca38;
--link-visited: #C26CCF;
line-height: 1.4;
font-size: 16px;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
  font-size: 1.625rem; 
  line-height: 1.3;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
body {
    background-color: var(--page-bg);
    color:var(--text-color);
    margin:0;
    width:100%;
}
h1, h2, h3 {
    font-family:"Sora", "Fira Code", 'Courier New', monospace;
    font-weight: 650;
}
h4, #modalTitle, summary {
    font-family: "Figtree", sans-serif;
    font-weight: 650;
}
p, li, a, button, h5, h6 {
   font-family: "Figtree", sans-serif;
   font-weight:525;
}
.card > h4 {
    width: 100%;
}
a {
    color: var(--link);
}
a:visited {
    color:var(--link-visited);
}
button {
    border: none;
    margin: 5px 0;
    background-color: var(--link);
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    transition: 100ms ease-in;
}
button:hover {
    cursor: pointer;
}
button > a:visited {
    text-decoration: none;
    color: var(--main-bg);
}
button:hover > a {
    color:var(--link);
}
header, footer {
    background-color: var(--main-bg);
    margin: 0;
    display: flex;
    min-width: 320px;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#headerNavbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#headerButtons {
    display: flex;
    gap: 15px;
}
#headerNavbar > nav {
    display: flex;
    gap: 20px;
}
#headerNavbar > nav > a{
    color: var(--link);
    text-decoration: none;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 700;
}
#headerNavbar > nav > a:hover {
    color: var(--main-bg);
    font-style: normal;
    transform: scale(1.1);
    background-color: var(--link);
}
#headerButtons > button > a {
    color:var(--main-bg);
    text-decoration: none;
}
#headerButtons > button:hover {
    transform: scale(1.2);
    color:var(--main-bg);
    background-color: var(--card-bg);
    text-decoration: none;
}
#about-interests, strong {
    font-weight: 600;
    color: var(--accent);
}
#gridContainer {
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    place-content: center;
}
#sidebar, #content {
    /*center content*/
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 20px;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 20px;
}
#sidebar{
    width: 12%;
    text-align: center;
    justify-content: space-between;
}
#sidebarNavbar > nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
#sidebarNavbar > nav > a {
    color: var(--link);
    text-decoration: none;
    font-style: italic;
    font-size: 1.12rem;
    font-weight: 700;
}
#sidebarNavbar > nav > a:hover {
    color: var(--main-bg);
    font-style: normal;
    transform: scale(1.1);
    background-color: var(--link);
}
#profile > img {
    width: 150px;
    height: 150px;
    border-radius: 300px;
    object-fit: cover;
    padding-top:15px;
}
#navbar > li > a{
    color:var(--link);
}
#profile > a {
    color: var(--text-color);
    margin: 0 15px;
    transition: ease-in 200ms;
}
#profile > a:hover {
    color:var(--link);
}
#returnButton > button > a{
    text-decoration: none;
    font-style: italic;
}
#content {
    padding: 10px, 20px;
    width: 80%;
    overflow-y: scroll;
    align-items: flex-start;
}
div.contentItem {
    padding: 20px;
}
#sidebar > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#socials {
    margin-top: 0px;
    display:flex;
    flex-direction: row;
    gap: 8px;
}
.cardsContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
#about-cards {
    justify-content: space-around;
}
#project-cards {
    gap: 20px;
}
.card {
    background-color: var(--card-bg);
    color: var(--main-bg);
    margin: 5px;
    padding:20px;
    width: 275px;
    height: 225px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#project-cards > .card{
    padding: 35px;
}
button:hover{
    transform: scale(1.2);
    background-color:var(--main-bg);
    color: var(--link);
    text-decoration: none;
}
#research-cards > .card{
    padding: 25px;
    width: 275px;
    height: 250px;
}
#research-cards > .card > button > a{
    color:var(--main-bg);
    text-decoration: none;
}
#research-cards > .card > button:hover > a{
    color:var(--link);
    text-decoration: none;
}
.contentItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 95%;
    margin:5px;
    padding:15px;
    border-radius: 20px;
}

/*FOR PROJECT/RESEARCH MODAL WINDOWS*/
.modal {
    padding: 0px 20px 20px 20px;
    position: fixed;
    top:50%;
    left:50%;
    transition: 200ms ease-in-out;
    border-radius:10px;
    background-color: var(--text-color);
    z-index:10;
    max-width:70%;
    max-height:70%;
    overflow: scroll;
}
.modalHeader {
    background-color: var(--text-color);
    position: sticky;
    top:0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalHeader > button {
    cursor: pointer;
    border:none;
    outline: none;
    background:none;
    font-size:1.25rem;
    font-weight:bold;
}
.modalHeader > a:hover {
    color:var(--content-bg);
}
.modalBody {
    padding-left: 100px;
    padding-right: 100px;
    overflow: scroll;
}
#overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.75);
    pointer-events: none;
}
.projImg {
    display: flex;
    justify-content: center;
}
.projDemoSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}
.projSummary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalLink {
    text-decoration: none;
    color: var(--main-bg);
}
.projReflection {
    margin: 20px;
    padding: 5px;
    border: solid black 2px;
}
#summaryTitle {
    font-style: oblique;
    font-weight: bold;
}
.projButtons {
    display: flex;
    gap: 12px;
}